<!-- Reduct Ticket -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reduct Ticket</title>
     <link href="../static/css/ticket.css" rel="stylesheet" type="text/css">
<body>
<div class="cardWrap">

    <div class="card cardLeft">
        <h1>Reduct Ticket <span>Cinema</span></h1>
        <div class="title">
            <h2>{{namef}}</h2>
            <span>movie</span>
        </div>
        <div class="name">
            <h2>{{namep}} {{surname}}</h2>
            <span>name</span>
        </div>
        <div class="seat">
            <h2>{{ntickets}}</h2>
            <span>seat</span>
        </div>
        <div class="time">
            <h2>{{time}}</h2>
            <span>time</span>
        </div>
        <div class="date">
            <h2>{{date}}</h2>
            <span>date</span>
        </div>
        <div class="price">
            <h2>{{tot_price}}</h2>
            <span>price</span>
        </div>
        <div class="types">
            <h2>{{types}}</h2>
            <span>Type Theater</span>
        </div>
        <div class="glasses">
            <h2>{{nglasses}}</h2>
            <span>Num Glasses</span>
        </div>
    </div>
    <div class="card cardRight">
        <div class="eye"></div>
        <div class="number">
            <h3>{{value}}</h3>
            <span>Cod P</span>
        </div>
        <div class="barcode"></div>
    </div>
</div>
</body>
</html>

